---
layout: archive

---


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Hello!" }}</h3>

<p> I'm Assistant Professor of Statistics (with Tenure Track) at <a href="https://www.wiwi.europa-uni.de/de/lehrstuhl/fact/jp-statistics/index.html">Europa Universität Viadrina</a> since April 2022.  <br />
<br />
I’m interested in statistics, sustainability and what holds the world together. Feel free to contact me if you have any questions or comments on my research or the implementation in R!  <br />

<br />
My previous stations:  <br />
2020-2022 Guest Professor of Econometrics at the <a href="https://www.wiwi.hu-berlin.de/de/professuren/vwl/oe">Humboldt-Universität zu Berlin</a>,   <br />
2018-2020 Postdoc in the <a href="https://www.helsinkigse.fi/groups/econometrics">econometrics group</a> at the University of Helsinki,   <br />
2013-2017 PhD Student and Research Associate at the <a href="https://www.uni-goettingen.de/de/215408.html">University of Göttingen</a>,   <br />
2007-2013 Bachelor and Master in Mathematices at the University of Göttingen.   </p>


