---
layout: archive

---


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Hello!" }}</h3>

I’m Guest Professor of Econometrics at the <a href="https://www.wiwi.hu-berlin.de/de/professuren/vwl/oe">Humboldt-Universität zu Berlin</a> since September 2020.  

I worked as a postdoc in the <a href="https://www.helsinkigse.fi/research-group/econometrics/">econometrics group</a> at the University of Helsinki before that and obtained my PhD from the <a href="https://www.uni-goettingen.de/de/215408.html">University of Göttingen</a> in 2017.  

<p> I’m interested in econometrics, sustainability and what holds the world together. Feel free to contact me if you have any questions or comments on my research or the implementation in R!
</p>

<b> Join us for the BSE INSIGHTS workshop "Communicating Climate Change Economics" on 13.&14.01.22! Registration deadline 10.12., more info <a href="https://smaxand.github.io/Call_insights_Jan22.pdf">here</a>.</b>
