---
layout: archive

---


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Hello!" }}</h3>

I'm Assistant Professor of Statistics (with Tenure Track) at Europa-Universität Viadrina since April 2022. I worked as a Guest Professor of Econometrics at the <a href="https://www.wiwi.hu-berlin.de/de/professuren/vwl/oe">Humboldt-Universität zu Berlin</a> (2020-2022), as a postdoc in the <a href="https://www.helsinkigse.fi/research-group/econometrics/">econometrics group</a> at the University of Helsinki (2018-2020) and obtained my PhD from the <a href="https://www.uni-goettingen.de/de/215408.html">University of Göttingen</a> in 2017.  

<p> I’m interested in statistics, sustainability and what holds the world together. Feel free to contact me if you have any questions or comments on my research or the implementation in R!
</p>
